body {
 background-color: rgba(164, 151, 134, 0.137);
 font-family: "Playfair Display", serif;
 width: 98vw;
 height: 100vh;
 scroll-behavior: auto;
}

/*MOBILE FIRST FOR MIN 320px */

.nav-link {
 font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
 color: rgb(173, 192, 8);
 text-decoration: none;
}

.logo {
 position: relative;
 margin-left: 35%;
 height : 10vh;
 width: 25vw;
 align-content: center;
 margin-bottom: 10%;
}

.icons {
 position: sticky;
 margin-left: 90%;
 bottom: 2%;
}

.facebook, .instagram {
 color: rgba(2, 6, 138, 0.708);
 width : 50%;
 height : 50%;
}

@media screen and (min-width:428px) { 

 .facebook, .instagram {
  width : 70%;
  height : 70%;
 }

 .icons {
  position: fixed;
  bottom: 4%;
  margin-left: 85%;
 }

 .logo {
  margin-bottom: 15%;
 }
}

@media screen and (min-width: 576px) { 

 .logo {
  margin-bottom: 10%;
  margin-top: 10%;
  height : 14vh;
  width: 35vw;
 }

 .nav-link {
  margin-top: 6%;
 }

 .facebook, .instagram {
  width : 80%;
  height : 80%;
 }

 .icons {
  position: fixed;
  bottom: 4%;
  margin-left: 85%;
 }
}

@media screen and (min-width: 900px) { 

 .logo {
  margin-bottom: 5%;
  margin-top: 5%;
  height : 18vh;
  width: 28vw;
 }

 .icons {
  bottom: 1%;
  margin-left: 97%;
 }
}

@media screen and (min-width: 1024px) { 

 .nav-link {
  font-size: 18px;
 }

 .logo {
  margin-bottom: 10%;
  margin-top: 10%;
  height : 12vh;
  width: 28vw;
 }

 .icons {
  bottom: 6%;
  margin-left: 90%;
 }

 .facebook, .instagram {
  width : 100%;
  height : 100%;
 }
}


@media screen and (min-width: 1280px) { 

 .nav-link {
  font-size: 18px;
  margin-top: 10%;
 }

 .logo {
  margin-bottom: 5%;
  margin-top: 4%;
  height : 16vh;
  width: 28vw;
 }

 .icons {
  position: fixed;
  bottom: 4%;
  margin-left: 90%;
 }

 .facebook, .instagram {
  width : 100%;
  height : 100%;
 }
}