body {
 background-color: rgba(164, 151, 134, 0.137);
 font-family: "Playfair Display", serif;
 width: 98vw;
 height: 100vh;
 scroll-behavior: auto;
}

/*MOBILE FIRST FOR MIN 320px */

.nav-link {
 font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
 color: rgb(173, 192, 8);
 text-decoration: none;
}

.photos a {
 display: inline-flex;
 justify-content: space-evenly;
 color: rgba(2, 6, 138, 0.708);
 font-size: 8px;
 margin-top: 7%;
 margin-left: 0%;
 padding-bottom: 5%;
 text-decoration : none;
}

.photos a:hover {
 color: black;
 text-decoration:underline;
 transition: 0.1s;
}

h1 { 
 margin-top: 10%;
 text-align: center;
 font-size: 14px;
 color: black;
}

.icons {
 position: sticky;
 padding-left: 90%;
 bottom: 6%;
}

.facebook, .instagram {
 color: rgba(2, 6, 138, 0.708);
 width : 50%;
 height : 50%;
}

img {
 width : 110px;
 height : 80px;
 display: inline-flex;
 text-align: center;
 padding-top: 3px;
}

@media screen and (min-width: 375px) {

 .photos a {
  font-size: 10px;
 }

 .icons {
  padding-left: 88%;
  position: fixed;
 }
}

@media screen and (min-width: 428px) {

 .photos a {
  font-size: 11px;
  margin-left: 1%;
 }

 .icons {
  padding-left: 91%;
  position: fixed;
 }

 .facebook, .instagram {
  width : 55%;
  height : 55%;
 }

 h1 { 
  top: 15%;
  font-size: 15px;
 }

 img {
  transition: transform .2s; 
  width: 150px;
  height: 100px;
  margin: 2;
 }
 
 img:hover {
  transform: scale(1.5);
 }
}

@media screen and (min-width: 540px) {

 img {
  transition: transform .2s; 
  width: 150px;
  height: 100px;
  margin: 0;
 }

 .photos a {
  margin-left: 3%;
 }

 .facebook, .instagram {
  width : 50%;
  height : 50%;
 }

 h1 { 
  top: 12%;
  font-size: 16px;
 }
}

@media screen and (min-width: 576px) {

 .nav-link {
  font-size: 13px;
  padding-bottom: 15%;
 }

 h1 { 
  font-size: 18px;
 }

 .photos a {
  margin-left: 4.5%;
 }

 .facebook, .instagram {
  width : 70%;
  height : 70%;
 }
}

@media screen and (min-width: 768px) {

 .nav-link {
  font-size: 16px;
  padding-top: 10%;
 }

 h1 { 
  font-size: 22px;
 }

 .photos a {
  margin-left: 6.5%;
 }
 
 .facebook, .instagram {
  width : 85%;
  height : 85%;
 }

 img:hover {
  transform: scale(2);
 }
}

@media screen and (min-width: 900px) {

 .nav-link {
  margin-top: 3%;
 }

 h1 { 
  font-size: 22px;
 }

 .photos a {
  font-size: 13px;
 }
 
 img {
  width : 190px;
  height : 150px;
 }

 .facebook, .instagram {
  width : 95%;
  height : 95%;
 }
}

@media screen and (min-width: 1024px) {

 .nav-link {
  margin-top: 3%;
  font-size: 17px;
 }

 h1 { 
  font-size: 25px;
  margin-top: 2%;
 }

 img {
  width : 220px;
  height : 180px;
 }

 .photos a {
  margin-left: 7%;
  font-size: 13px;
 }
 
 .facebook, .instagram {
  width : 95%;
  height : 95%;
 }
 .icons {
  padding-left: 90%;
 }
}

@media screen and (min-width: 1200px) {

 .nav-link {
  margin-top: 3%;
  font-size: 20px;
 }

 h1 { 
  font-size: 28px;
 }

 .photos a {
  margin-left: 7%;
  font-size: 15px;
  margin-top: 5%;
  padding-bottom: 3%;
 }
 
 img {
  width : 280px;
  height : 250px;
 }

 img:hover {
  transform: scale(1.5);
 }

 .facebook, .instagram {
  width : 95%;
  height : 95%;
 }

 .icons {
  padding-left: 95%;
  bottom: 6%;
 }
}

@media screen and (min-width: 1440px) {

 h1 { 
  font-size: 32px;
 }

 .photos a {
  margin-left: 8%;
  font-size: 15px;
  margin-top: 5%;
  padding-bottom: 3%;
 }
 
 .facebook, .instagram {
  width : 95%;
  height : 95%;
 }

 .icons {
  padding-left: 92%;
  bottom: 6%;
 }
}