body, html {
 background-color: rgb(247, 229, 206);
 font-family: "Playfair Display", serif;
 width: 100vw;
 height: 100vh;
 scroll-behavior: auto;
}

/*MOBILE FIRST FOR MIN 320px */

.nav-link {
 font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
 color: rgb(173, 192, 8);
 text-decoration: none;
}

.photos a {
 display: inline-flex;
 justify-content: space-evenly;
 color: rgba(2, 6, 138, 0.708);
 font-size: 8px;
 margin-top: 7%;
 margin-left: 1%;
 padding-bottom: 5%;
 text-decoration : none;
}

.photos a:hover {
 color: black;
 text-decoration:underline;
 transition: 2.7s;
}

h1 { 
 margin-top: 8%;
 text-align: center;
 font-size: 14px;
 color: black;
}

.icons {
 position: sticky;
 padding-left: 90%;
 bottom: 6%;
}

.facebook, .instagram {
 color: rgba(2, 6, 138, 0.708);
 width : 50%;
 height : 50%;
}

img {
 max-width : 30%;
 max-height : 20%;
 display: inline-flex;
 text-align: center;
 margin-top: 1%;
}

@media screen and (min-width: 375px) {

 .photos a {
  font-size: 10px;
  margin-left: 3.5px;
 }

 .icons {
  padding-left: 92%;
 }
}

@media screen and (min-width: 428px) {

 .photos a {
  font-size: 11px;
  margin-left: 2%;
 }

 .icons {
  padding-left: 91%;
 }

 .facebook, .instagram {
  width : 55%;
  height : 55%;
 }

 h1 { 
  top: 15%;
  font-size: 15px;
 }
}

@media screen and (min-width: 540px) {

 .photos a {
  margin-left: 3%;
 }

 .facebook, .instagram {
  width : 50%;
  height : 50%;
 }

 h1 { 
  top: 12%;
  font-size: 16px;
 }
}

@media screen and (min-width: 576px) {

 .nav-link {
  font-size: 13px;
 }

 h1 { 
  font-size: 18px;
 }

 .photos a {
  margin-left: 4.5%;
 }
}

@media screen and (min-width: 768px) {

 .nav-link {
  font-size: 15px;
 }

 h1 { 
  font-size: 22px;
 }

 .photos a {
  margin-left: 6.5%;
 }
 
 .facebook, .instagram {
  width : 35%;
  height : 35%;
 }
}

@media screen and (min-width: 900px) {

 .nav-link {
  margin-top: 3%;
 }

 h1 { 
  font-size: 22px;
 }

 .photos a {
  margin-left: 7.5%;
 }
 
 .facebook, .instagram {
  width : 35%;
  height : 35%;
 }
}

@media screen and (min-width: 1024px) {

 .nav-link {
  margin-top: 3%;
  font-size: 17px;
 }

 h1 { 
  font-size: 25px;
 }

 .photos a {
  margin-left: 7%;
  font-size: 13px;
 }
 
 .facebook, .instagram {
  width : 30%;
  height : 30%;
 }
}

@media screen and (min-width: 1200px) {

 .nav-link {
  margin-top: 3%;
  font-size: 20px;
 }

 h1 { 
  font-size: 28px;
 }

 .photos a {
  margin-left: 7%;
  font-size: 15px;
  margin-top: 5%;
  padding-bottom: 3%;
 }
 
 .facebook, .instagram {
  width : 35%;
  height : 35%;
 }

 .icons {
  padding-left: 95%;
  bottom: 6%;
 }
}

@media screen and (min-width: 1440px) {

 h1 { 
  font-size: 32px;
 }

 .photos a {
  margin-left: 8%;
  font-size: 15px;
  margin-top: 5%;
  padding-bottom: 3%;
 }
 
 .facebook, .instagram {
  width : 48%;
  height : 48%;
 }

 .icons {
  padding-left: 96%;
  bottom: 6%;
 }
}