body {
 background-color: rgba(164, 151, 134, 0.137);
 font-family: "Playfair Display", serif;
 width: 97vw;
 height: 100vh;
 scroll-behavior: auto; 
 text-align: center;
}

/*MOBILE FIRST FOR MIN 320px */

.nav-link {
 font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
 color: rgb(173, 192, 8);
 text-decoration: none;
}

.logo {
 position: relative;
 height : 10vh;
 width: 25vw;
}

h1 { 
 margin-top: 8%;
 font-size: 20px;
 padding-bottom: 1rem;
 color: black;
}

.icons {
 position:fixed;
 padding-left: 90%;
 bottom: 6%;
}

.facebook, .instagram {
 color: rgba(2, 6, 138, 0.708);
 width : 50%;
 height : 50%;
}

.card {
 position: relative;
 max-width: 15rem;
 margin-bottom: 10%;
 align-self: center;
 box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.358);
}

h2, .card-footer{
 font-size: 14px;
 font-weight: bold;
}

.card-text {
 font-size: 14px;
}

.card-footer {
 height: 1rem;
 padding-bottom: 15%;
}

@media screen and (min-width: 428px) {

 .logo {
  height : 10vh;
  width: 30vw;
 }

 .card {
  max-width: 18rem;
 }

 .facebook, .instagram {
  width : 60%;
  height : 60%;
 }
}

@media screen and (min-width: 540px) {

 .icons {
  padding-left: 88%;
 }

 .facebook, .instagram {
  width : 70%;
  height : 70%;
 }
}

@media screen and (min-width: 576px) {

 .nav-link {
  padding-bottom: 12%;
 }

 .card {
  max-width: 25rem;
 }

 .card-footer {
  height: 1rem;
  padding-bottom: 10%;
 }

 h2, .card-footer{
  font-size: 16px;
 }
}

@media screen and (min-width: 800px) {

 .icons {
  padding-left: 90%;
 }

 .facebook, .instagram {
  width : 80%;
  height : 80%;
 }
}

@media screen and (min-width: 960px) {

 .logo {
  height : 20vh;
  width: 25vw;
 }
}

@media screen and (min-width: 1024px) {

 .nav-link {
  padding-top: 10%;
  font-size: 18px;
 }

 .card {
  max-width: 30rem;
 }

 h1 {
  font-size: 26px;
 }
}

@media screen and (min-width: 1280px) {

 .card {
  max-width: 45rem;
  margin-bottom: 5%;
 }

 h1 {
  font-size: 30px;
  margin-top: 5%;
 }

 .logo {
  height : 25vh;
  width: 25vw;
 }

 .facebook, .instagram {
  width : 90%;
  height : 90%;
 }

 h2, .card-footer{
  font-size: 20px;
 }
 
 .card-text {
  font-size: 18px;
 }

 .card-footer{
  font-size: 22px;
 }
 
 .card-footer {
  padding-bottom: 8%;
 }
}